*{
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #e3f9ff; */
    background: linear-gradient(45deg, #0a0a0a, #3a4452);
}

.scicalculator{
    border: 1px solid #717377;
    padding: 20px;
    border-radius: 16px;
    background: transparent;
    box-shadow: 0px 3px 15px rgba(113, 115, 119, 0.5);
}
.scicalculator input,button{
    border: 0;
    outline: 0;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1), 5px 5px 15px rgba(0, 0, 0, 0.2);
    background: transparent;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    margin: 10px;
}

.scicalculator button:active{
    box-shadow: inset -5px -5px 10px rgba(255, 255, 255, 0.1), 
                inset 5px 5px 10px rgba(255, 255, 255, 0.1);
}

.display{
    display: flex;
    justify-content: center;
    margin: 20px 0;
}
.display input{
    text-align: right;
    flex: 1;
    font-size: 40px;
    /* height: 120px; */
    grid-column: span 4;
    box-shadow: inset -5px -5px 12px rgba(0, 0, 0, 0.16), inset 5px 5px 12px rgba(0, 0, 0, 0.16);
    border: none;
    color: #fff;
    pointer-events: none; /*we cannot click on the input feld or change the value */

}
input::placeholder{
    color: #fff;
}
.equalBtn{
    background-color: #fb7c14;
}
.equalBtn:hover{
    /* background-color: #fb7c14; */
    box-shadow: inset -5px -5px 10px #fb7c14, 
                inset 5px 5px 10px #fb7c14;
}
.operator{
    /* color: #6dee0a; */
    color: cyan;
    /* color: aquamarine; */
}

.pagediv{
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagebutton{
    border: 0;
    outline: 0;
    width: 80px;
    height: 20px;
    border-radius: 5px;
    box-shadow: -6px -1px 15px rgba(255, 255, 255, 0.1), 5px 5px 15px rgba(0, 0, 0, 0.2);
    background: transparent;
    font-size: 13px;
    color: #717377;
    cursor: pointer;
}